* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "mixins";

$color-primary: #008080;



.row {
  display: flex;
  flex-wrap: wrap;
}

.row div:nth-child(odd) {
  background-color: green;
}
.row div:nth-child(even) {
  background-color: blue;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc(100% / 12 * #{$i});
  }
}


.header {
  height: 100px;
  width: 100%;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include clearfix;
  &__logo {
    flex: 0 0 200px;
    &-link {
      text-decoration: none;
      //color: #fff;
      //font-size: 24px;
      @include font(24px,#fff);
    }
  }
}